html {
  background-image: url("/images/noise.png"), -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 750, color-stop(0%, #D2B720), color-stop(100%, #D29740));
  background-image: url("/images/noise.png"), -moz-radial-gradient(top center, circle, #D2B720 0%, #D29740 750px);
  background-image: url("/images/noise.png"), radial-gradient(top center, circle, #D2B720 0%, #D29740 750px);
}

body {
  font-family: Helvetica;
  font-size: 14px;
  line-height: 20px;
  background: url("/images/thor.png") no-repeat;
  background-position: 10px 10px;
  padding-top: 280px;
  width: 700px;
  margin: 0 auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f30;
}

a:hover {
  color: #f90;
}

#main {
  font-family: "Helvetica Neue";
  font-weight: 400;
  margin: 10px auto;
  width: 700px;
  background: rgba(255,255,255,0.9);
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
}

header {
  background: rgba(0,0,0,0.1);
  padding: 10px;
  -webkit-border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #925700;
}

header a:link, header a:visited {
  color: #B29700;
}

header a:hover {
  color: #D2B720;
}

.syntaxhighlighter {
  font-family: Monaco, monospace;
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
  padding: 10px;
  -webkit-border-radius: 5px;
  box-sizing: border-box;
}

#main h1 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 2px solid #D29740;
}

#main p {
  margin: 20px 0;
}

#main li {
  list-style-type: square;
  font-size: 15px;
  line-height: 20px;
}

#main li + li {
  margin-top: 10px;
}

code {
  color: #723700;
  font-family: Menlo, Monaco, Courier, monospace;
}
